## Importing libraries

In [1]:
#importing libraries
import keras
import pandas as pd
import numpy as np
from keras.models import Sequential
from keras.layers import Dense

Using TensorFlow backend.

### Build a Regression Model in Keras
## One hidden layer of 10 nodes, and a ReLU activation function

In [2]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    # Use the adam optimizer and the mean squared error as the loss function
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
     # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [3]:
# downloading data 
df = pd.read_csv("https://cocl.us/concrete_data")
df.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [4]:
df.shape

(1030, 9)

In [5]:
# spliting data into predictors and target
df_columns=df.columns
predictors = df[df_columns[df_columns != 'Strength']] # all columns except Strength
target = df['Strength'] # Strength column

In [6]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [7]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

## Normalizing data

In [8]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [9]:
n_cols = predictors_norm.shape[1]

In [10]:
model=regression_model()
model

## 1. Randomly spliting the data into a training and test sets by holding 30% of the data for testing.

## 2. And Training the model on the training data using 50 epochs.

In [11]:
model.fit(predictors_norm, target, validation_split=0.3, epochs=50, verbose=2)

Train on 721 samples, validate on 309 samples
Epoch 1/50
 - 0s - loss: 1777.0317 - val_loss: 1269.7957
Epoch 2/50
 - 0s - loss: 1757.3087 - val_loss: 1256.8149
Epoch 3/50
 - 0s - loss: 1739.0014 - val_loss: 1243.9773
Epoch 4/50
 - 0s - loss: 1721.0965 - val_loss: 1231.3103
Epoch 5/50
 - 0s - loss: 1703.3826 - val_loss: 1218.6774
Epoch 6/50
 - 0s - loss: 1685.5991 - val_loss: 1205.7058
Epoch 7/50
 - 0s - loss: 1667.6369 - val_loss: 1192.8346
Epoch 8/50
 - 0s - loss: 1648.9957 - val_loss: 1179.6693
Epoch 9/50
 - 0s - loss: 1629.7100 - val_loss: 1166.1543
Epoch 10/50
 - 0s - loss: 1609.7624 - val_loss: 1152.4146
Epoch 11/50
 - 0s - loss: 1588.8748 - val_loss: 1138.3326
Epoch 12/50
 - 0s - loss: 1567.5753 - val_loss: 1123.4831
Epoch 13/50
 - 0s - loss: 1545.3944 - val_loss: 1108.8432
Epoch 14/50
 - 0s - loss: 1522.4777 - val_loss: 1093.5155
Epoch 15/50
 - 0s - loss: 1498.9860 - val_loss: 1077.7152
Epoch 16/50
 - 0s - loss: 1474.3947 - val_loss: 1061.5741
Epoch 17/50
 - 0s - loss: 1449.4212 - val_loss: 1044.6720
Epoch 18/50
 - 0s - loss: 1423.4273 - val_loss: 1027.8230
Epoch 19/50
 - 0s - loss: 1397.9084 - val_loss: 1010.0454
Epoch 20/50
 - 0s - loss: 1370.5421 - val_loss: 992.6222
Epoch 21/50
 - 0s - loss: 1343.3517 - val_loss: 974.1322
Epoch 22/50
 - 0s - loss: 1315.7764 - val_loss: 955.7490
Epoch 23/50
 - 0s - loss: 1287.5004 - val_loss: 937.2596
Epoch 24/50
 - 0s - loss: 1259.3255 - val_loss: 917.9512
Epoch 25/50
 - 0s - loss: 1230.5936 - val_loss: 898.3136
Epoch 26/50
 - 0s - loss: 1200.5707 - val_loss: 879.0608
Epoch 27/50
 - 0s - loss: 1171.1261 - val_loss: 859.2791
Epoch 28/50
 - 0s - loss: 1140.7902 - val_loss: 839.0609
Epoch 29/50
 - 0s - loss: 1110.0692 - val_loss: 819.0825
Epoch 30/50
 - 0s - loss: 1078.9771 - val_loss: 798.2500
Epoch 31/50
 - 0s - loss: 1047.6936 - val_loss: 777.6064
Epoch 32/50
 - 0s - loss: 1015.9806 - val_loss: 756.7110
Epoch 33/50
 - 0s - loss: 984.3700 - val_loss: 736.3633
Epoch 34/50
 - 0s - loss: 952.8720 - val_loss: 716.0281
Epoch 35/50
 - 0s - loss: 921.8234 - val_loss: 695.6296
Epoch 36/50
 - 0s - loss: 890.8821 - val_loss: 675.9646
Epoch 37/50
 - 0s - loss: 860.3668 - val_loss: 656.1603
Epoch 38/50
 - 0s - loss: 830.0526 - val_loss: 636.6424
Epoch 39/50
 - 0s - loss: 800.7461 - val_loss: 617.5873
Epoch 40/50
 - 0s - loss: 771.4240 - val_loss: 598.6505
Epoch 41/50
 - 0s - loss: 742.8603 - val_loss: 580.2599
Epoch 42/50
 - 0s - loss: 714.6594 - val_loss: 562.4365
Epoch 43/50
 - 0s - loss: 687.5615 - val_loss: 544.6596
Epoch 44/50
 - 0s - loss: 660.6303 - val_loss: 527.9383
Epoch 45/50
 - 0s - loss: 634.5314 - val_loss: 511.3572
Epoch 46/50
 - 0s - loss: 608.5386 - val_loss: 495.0485
Epoch 47/50
 - 0s - loss: 583.5791 - val_loss: 479.3481
Epoch 48/50
 - 0s - loss: 559.4116 - val_loss: 464.3610
Epoch 49/50
 - 0s - loss: 535.9427 - val_loss: 449.1739
Epoch 50/50
 - 0s - loss: 513.1712 - val_loss: 434.8485